@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Twobit Italic';
  src: url('/fonts/Twobit Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Steelfish Eb It';
  src: url('/fonts/Steelfish Eb It.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

:root {
  --font-brand: 'Twobit Italic', cursive;
  --font-text: 'Steelfish Eb It', sans-serif;
  --sans: 'Steelfish Eb It', sans-serif; /* Override tailwind default or ops system */
}

body {
  font-family: var(--font-text) !important;
}
